* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(12, 0, 65);
}
a {
  text-decoration: none;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home {
  margin-top: 300px;
  background-color: #fff;
  padding: 8px;
  border-radius: 5px;
}
.home div form {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
input {
  background-color: #fff;
  outline: none;
  border: none;
}
.listContainer {
  width: 100%;
}
.list {
  padding: 3px;
  margin-top: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
